html,body {

	width: 100%;
	height: 100%;
	background-color: black;

}

.intro_text {

	color: white;
	text-align: center;

}

#sun {

}

#mercury_orbit {

}

#mercury {

}

#venus_orbit {

}

#venus {

}

#earth_orbit {

}

#earth {

}

#mars_orbit {

}

#mars {

}

#jupiter_orbit {

}

#jupiter {

}

#saturn_orbit {

}

#saturn {

}

#uranus_orbit {

}

#uranus {

}

#neptune_orbit {

}

#neptune {

}

#pluto_orbit {

}

#pluto {

}

